{% extends "layout.html" %}

{% block content %}
  <h2>Kontakt</h2>
  <p>
    For timebestilling, kom innom, eller ring oss på telefon 370 43 615 for nærmere avtale.
  </p>

  <p>
    Kontaktinformasjon:<br>
    Bens Salong<br>
    Org. nr: 994586297<br>
    Smith Petersensgate 1<br>
    4876 Grimstad<br>
    Telefon: 370 43 615<br>
    Epost: ben@benssalong.no
  </p>

  <h2>Kart</h2>
  <p>Her finner du Bens Salong:</p>
  <iframe
    height="450"
    frameborder="0"
    style="border:0; width: 100%"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJI6cmw2PuR0YRuVPdhVg5YqM&key=AIzaSyA5nixJHt_k5Q7WOdS0iB0xrmL1Yfuzxrk"
    allowfullscreen></iframe>
{% endblock %}
