<!doctype html>
<html>
  <head>
    <title>Ben's Salong</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans+Caption|Poiret+One">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64774283-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-64774283-5');
    </script>
  </head>
  <body class="container">
    <header class="row align-items-center justify-content-between">
      <h1 class="col-md-auto">
        <a href="/">Ben's Salong</a>
      </h1>
      <nav class="col-md text-right">
        <ul>
          <li {% if page == "varetilbud" %}class="current"{% endif %}>
            <a href="/varetilbud">
              Varetilbud
            </a>
          </li>
          <li {% if page == "galleri" %}class="current"{% endif %}>
            <a href="/galleri">
              Galleri
            </a>
          </li>
          <li {% if page == "omoss" %}class="current"{% endif %}>
            <a href="/omoss">
              Om oss
            </a>
          </li>
          <li {% if page == "kontakt" %}class="current"{% endif %}>
            <a href="/kontakt">
              Kontakt
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <article class="row">
      <section class="col-md">
        {% block content %}{% endblock %}
      </section>
      <aside class="col-md-auto">
        <h2>Åpningstider</h2>
        <p>{{ data.åpningstider|replace("\n", "<br>")|safe }}</p>

        <h2>Priser</h2>
        <p>{{ data.priser|replace("\n", "<br>")|safe }}</p>

        <h2>Timebestilling</h2>
        <p>{{ data.timebestilling|replace("\n", "<br>")|safe }}</p>
      </aside>
    </article>

    <footer class="text-center">
      <a href="/login">Ben's Salong</a><br>
      Smith Petersensgate 1, 4876 Grimstad<br>
      Org. nr: 976200853<br>
      Tlf: 370 43615
    </div>
  </body>
</html>
