<!doctype html>
<html>
  <head>
    <title>Ben's Salong</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans+Caption|Poiret+One">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous">
  </head>
  <body class="container">
    <header class="row align-items-center justify-content-between">
      <h1 class="col-md-auto">
        <a href="/">Ben's Salong</a>
      </h1>
      <nav class="col-md text-right">
        <ul>
          <li {% if page == "varetilbud" %}class="current"{% endif %}>
            <a href="/varetilbud">
              Varetilbud
            </a>
          </li>
          <li {% if page == "galleri" %}class="current"{% endif %}>
            <a href="/galleri">
              Galleri
            </a>
          </li>
          <li {% if page == "omoss" %}class="current"{% endif %}>
            <a href="/omoss">
              Om oss
            </a>
          </li>
          <li {% if page == "kontakt" %}class="current"{% endif %}>
            <a href="/kontakt">
              Kontakt
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <article class="row">
      <section class="col-md">
        {% block content %}{% endblock %}
      </section>
      <aside class="col-md-auto">
        <h2>Åpningstider</h2>
        <p>
          Man-ons: 09:00-17:00<br>
          Torsdag: 09:00-18:00<br>
          Fredag: 09:00-17:00<br>
          Lørdag: 09:00-14:00<br>
          Søndag: Stengt
        </p>

        <h2>Priser</h2>
        <p>
          Klipp:<br>
          Herre: kr 340<br>
          Dame:kr 470<br>
          Barn: kr 280<br>
          <br>
          Striper:<br>
          Striper i hette kort hår kr 680<br>
          Striper i hette langt hår kr 780<br>
          Foliestriper kort hår kr 750<br>
          Foliestriper langt hår fra kr 850<br>
          Ettervekst farge kr 680<br>
          Hel farge kort hår kr 850<br>
          Hel farge langt hår fra kr 950<br>
          Permanent: fra 1100<br>
          Barbering: kr 80
        </p>
        <h2>Timebestilling</h2>
        <p>
          * Ring 370 43 615<br>
          * Eller kom innom
        </p>
      </aside>
    </article>

    <footer class="text-center">
      Ben's Salong<br>
      Smith Petersensgate 1, 4876 Grimstad<br>
      Org. nr: 976200853<br>
      Tlf: 370 43615
    </div>
  </body>
</html>
